@model IEnumerable<DAB2.Models.StudentModel>

@{
    ViewData["Title"] = "DBData";
}

<h1>DBData</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
